7body{
    margin:0;
    padding:0;
    background-color:#35374B;
}
.h{
    text-align: center;
}

.header{ 
    background-color: #344955;
    position: fixed;
    width: 100%;
    box-shadow: 0 0 4px  #201658;
    display: flex;
    justify-content: center;
}
.b{
   width:335px;
   background-color: #344955;
   height: 160px;
   border-style:solid #344955;
   border-radius: 5px;
   text-align: center;
} 
.movie{
    display:flex;
    gap:25px;
    justify-content: center;
    position:relative;
    margin-right:20px;
    margin-left:20px;
    
}
.f{
   width:30%;
   background-color: #344955;
   border-style:outset;
   border-width:3px;
   border-color:black;
   border-radius: 7px;
   text-align: center;
   height:350px;
}
.f a{
    text-decoration: none;
    color:black;
    font-weight: bold;
}
.b a{
    text-decoration: none;
    color:black;
    font-weight: bold;
}
.f:hover{
    border-radius:15;
    transform:scale(0.1,0.1);
    transition:width height 1s;
    
}
.b:hover{
    border-radius:15;
    transform:scale(0.1,0.1);
    transition:transform 1s;
}
.footer{
    background-color: #344955;
    position: fixed;
    width: 100%;
    bottom:0px;
    margin: 0px;
    font-size: 20px;
    box-shadow:4px 0px 4px 0px #201658;
    color:white;
}
.a{
    display: flex;
    gap:30px;
    justify-content:center;
    position:relative;
}
.i{
    padding: 0 30px;
    font-size: 25px;
} 
.i a {text-decoration:none;
    border-radius: 5px;
    color: white;
    
}
.i a:hover{background-color:black;
}  
.i a:focus{background-color:blue;
 transition:background-color 0,3s;
}
.img{
    margin-right:7;
    width:97%;
    height:500 ;
    border-style:double ;
    border-width:5px;
    border-radius:5px;
    
}
.p{
    margin-right:6;
}
.play1{
  position:absolute;
  bottom:75;
  font-size: 50;
  right:110px;
  opacity:0;
}
.play1:hover{
    opacity: 1;
    transition: opacity 0.1s;
}
.play2{
    position:absolute;
    bottom:75;
    font-size: 50;
    left:380px;
    opacity: 0
}
.play2:hover{
    opacity: 1;
    transition: opacity 0.1s;
}
.play3{
  position:absolute;
  bottom:75;
  font-size: 50;
  left:100px;
  opacity: 0;
}
.play3:hover{
    opacity: 1;
    transition: opacity 0.1s;
}
.icon{
    position:absolute;
    bottom:190;
    opacity: 0;
}
.icon:hover{
    opacity: 1;
    transition: opacity 0.1s;
}
.page{
    text-align:center;
}
.page a{
    color:white;
    text-decoration: none;
    padding:8px 15px;
    display: inline-block;
    margin-top:150px;
    border-style:solid;
    border-color:black;
    border-width:2px;
}
.page a.active{
    background-color: blue hsl(120,100%,70%);
    font-weight: bold;
    border-radius: 5px;
}
.page a:hover:not(.active){
    background-color: white hsl(0,0%,70%);
}
.g{
	        width:700px;
	        height:1100px;
	        background-color:#67C6E3;
	        display:inline-block;
	        margin-left: 40px;
	        margin-right:40px;
	        margin-top:40px;
	        border-style:outset;
	        border-width:3px;
	        border-color:black;
	        border-radius: 10px;
	        padding-right:10px;
	        padding-left:10px;
	        }
	        
